html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 
font-family: 'Spicy Rice', cursive;
font-family: 'Montserrat', sans-serif;
 */

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  height: 60px;
  background-color: #384d47;
  width: 100%;
}

.header_name {
  font-family: 'Spicy Rice', cursive;
  font-size: 20px;
  position: absolute;
  top: 25%;
  color: #939a9c;
}

.header_links {
  font-size: 16px;
  position: relative;
  float: right;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.header_link {
  margin: 0 30px;
  padding: 5px 5px;
  
  text-decoration: none;
  color: #939a9c;
  font-weight: 700;

  cursor: pointer;

  transition: color .2s linear;
}

.header_link::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #939a9c;
  transition: opacity .2s linear;
}

.header_link:hover {
  color: #cfd9ce;
}

.header_link:hover::after {
  opacity: 1;
  animation-duration: 1s;
  animation-name: navAnimate;
}
/* Header animation */
@keyframes navAnimate {
  from {
    width: 0%;
    margin-left: 50%;
  }

  to {
    width: 100%;
    margin-left: 0;
  }
}

/* Intro */
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: url('./Images/gologramma_shema_scifi_139294_2560x1600.jpg') center no-repeat;
  background-size: cover;
}

.intro_content {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  padding: 20px 10px;
  border: 4px solid #384d47;
  border-radius: 1em;
  background-color: #576b65;
}

.intro_clock {
  display: block;
  font-size: 35px;
  margin: 20px 0;
  color: #cfd9ce;
}

.intro_clock_sup {
  margin-bottom: 5px;
  font-style: italic;
}

/* About Me */
.about_page {
  display: block;
  background-color: #a1c0b6;
}


.about_header {
  font-family: 'Spicy Rice', cursive;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
}

.about_header::after {
  display: block;
  content: "";
  height: 2px;
  margin: 10px auto;
  width: 150px;
  background-color: #a54e25;
}

.about_skills_title {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.skills_item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 20%;
  height: auto;

  text-align: center;
}

.skills_item_name  {
  padding: 10px 0;
}

.progress_bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
  border: 2px solid #576b65;
  border-radius: 1em;
  overflow: hidden;
}

.progress_bar_result {
  position: absolute;
  width: 0%;
  height: 35px;
}

.progress_bar_result.welldone1 {
  background-color: #93E43A;
  animation-name: progress_bar_animate_html;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.progress_bar_result.welldone2 {
  background-color: #DAEC3D;
  animation-name: progress_bar_animate_css;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.progress_bar_result.welldone3 {
  background-color: #FF7E40;
  animation-name: progress_bar_animate_js;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.progress_bar_result.welldone4 {
  background-color: #FF7373;
  animation-name: progress_bar_animate_react;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.progress_bar_percent{
  z-index: 10;
}

@keyframes progress_bar_animate_html {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 85%;
    opacity: 1;
  }
}
@keyframes progress_bar_animate_css {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}
@keyframes progress_bar_animate_js {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 40%;
    opacity: 1;
  }
}
@keyframes progress_bar_animate_react {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}
  